<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("header.ejs") %>

    <h1>Welcome <%= title %></h1>
    <p>This is the home page rendered using ejs</p>

    <%- include ("footer.ejs") %>
</body>
</html>